<!DOCTYPE html>
<html>

<head>
	<title>Room Temperature Logger</title>
	<link rel="stylesheet" type="text/css" href="/styles.css">
	<script>
		var source = new EventSource('/temperature');
		source.onmessage = function (event) {
			document.getElementById('temperature').innerHTML = event.data;
		};
	</script>
</head>

<body>
	<div class="container">
		<h1 class="title">Room Temperature Logger</h1>
		<p class="subtitle">Current temperature:</p>
		<p class="temp"><span id="temperature">N/A</span> degrees</p>
	</div>
</body>

</html>